
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');




/* GENERAL STYLE*/

:root {
    --primary-color: rgb(249, 202, 16);
}

.btn_border {
    color: white;
    border: 1px solid var(--primary-color);
    padding: 8px 18px;
    border-radius: 25px;
    transition: all 0.3s ease-in-out;
}

.btn_border:hover {
    color: white;
    background-color: var(--primary-color);
}

.btn_fill {
    color: white;
    background-color: var(--primary-color) !important;
    padding: 8px 18px;
    border-radius: 25px;
    transition: all 0.3s ease-in-out;
}

.btn_fill:hover {
    transform: scale(1.2);
}

body {
    overflow-x: hidden;
    font-family: 'Poppins';
}

h1, h2 {
    color: var(--primary-color);
}

/**********   Bar Menu     *************/ 

.navbar {
    background-color: white;
    border-bottom: 2px solid rgb(98, 96, 96);
    z-index: 1;
}

.offcanvas {
    width: 220px !important;
}

.btn_close {
    color: white;
    font-size: 1.5rem;
}

.nav-link {
    border-bottom: 2px solid white;
}

.nav-item {
    width: 100px;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:hover, 
.navbar-toggler:focus, 
.btn-close:hover,
.btn-close:focus {
    box-shadow: none !important;
    border: none !important;
}

.navbar-brand {
    color: var(--primary-color) !important;
    letter-spacing: 2px;
}

.nav-link:hover {
    color: var(--primary-color) !important;
}

.nav__btn {
    background-color: var(--primary-color);
    border-radius: 28px;
    transition: all 0.3s ease-in-out;
    max-width: 125px;
}

.nav__btn:hover {
   transform: scale(1.1);
}

@media (min-width: 990px) {
    .navbar-brand {
        font-size: 25px;
    }

    .offcanvas-start {
        width: 200px !important;
    }

    .nav-link {
        color: rgb(20, 18, 18) !important;
        border-bottom: none;
        font-weight: bold;
        font-size: 18px;
    }

     .nav-item
     {
        width: 120px !important;
        text-align: center;
    }

    .nav__btn {
        padding: 5px 12px !important;
        font-size: 18px;
    }

  
}

/**********   Hero Section     *************/ 

.hero {
    height: 55vh;   
    background-image: linear-gradient(252deg, rgba(148, 130, 73, 0.5) 0%, rgba(9, 11, 14, 1) 100%), 
    url("https://cdn.pixabay.com/photo/2014/09/17/20/26/restaurant-449952_960_720.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

@media (min-width: 900px) {
    .hero h1 
{
    font-size: 75px;
    color: var(--primary-color);
}

.hero p {
    font-size: 19px;
}
}











/**********   Selling Section     *************/

.selling {
    padding: 60px 0px;
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url("https://res.cloudinary.com/braid/image/upload/w_2048,h_997,c_crop,f_auto/w_1400,c_scale/v1623447076/braidcms/0c0739f40cde4a36535eb5ab24a00d51.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

.selling h2 {
    color: var(--primary-color);
}

.selling p {
    color: white;
    font-style: italic;
}

.sale_icon {
    color: var(--primary-color);
    font-size: 1.3rem;
    animation: updown 0.7s ease-in-out 2s infinite alternate forwards;
}

@keyframes updown {
    0% {
     transform: translateY(-7px);
    }
    100% {
     transform: translateY(7px);
 
    }
 }

@media (min-width: 990px) {
    .selling h2 {
        font-size: 35px;
    }

    .selling p {
        font-size: 19px;
    }

    .selling_p {
        width: 75%;
    }

    .selling {
        padding: 60px 40px;
    }
}

@media (min-width:1015px)  {
    .selling h2 {
        font-size: 50px;
    }
}



/**********   Services Section     *************/ 

.services {
    padding: 45px 0px;
}

@media (min-width: 990px) {

    .services p {
        font-size: 19px;
    }

    .services h2 {
        font-size: 50px;
    }


    .service_p {
        width: 79%;
        margin: auto;
    }

    .services img {
        height: 370px;
        height: 370;
        object-fit: cover;
    }
}

/**********   Form Section     *************/ 

.book-services label {
    font-weight: bold;
    margin: 7px 0px;
    font-size: 17px;
    padding: 8px 0px;
}

.book-services input, select {
    border-radius: 15px;
    padding: 8px 5px;
    border: none;
    background-color: rgb(224, 219, 210);
    outline: none;
}

.book-services textarea::placeholder {
    font-style: italic;
}

.book-services textarea {
    resize: none;
    outline: none;
}


.terms {
    color: rgb(176, 166, 166);
}


.btn_services {
    max-width: 150px;
}

@media (min-width: 990px) {
    .book-services {
        padding: 45px 0px;
    }

    .book-services p {
        font-size: 19px;
    }

    .book_p {
        width: 75%;
        margin: auto;
        font-size: 19px;
    } 

    .book-services label {
        font-size: 19px;
    }
}











/**********   Footer Section     *************/ 

.footer__section {
    background-color: black;
}

.footer__section h2, h5 {
    color: var(--primary-color);
}

.footer__brows a,
.footer_aditional a {
    color: white;
    transition: all 0.3s ease-in-out;
}

.footer__brows a:hover,
.footer_aditional a:hover {
    color: var(--primary-color);
}

.footer__follow .icon {
    color: white;
    transition: all 0.3s ease-in-out;
    padding: 8px;
    border-radius: 50%;
}

.footer__follow .icon:hover {
    background-color: var(--primary-color);
    border-radius: 50%;
    padding: 8px;
}

.closing__container p {
    color: rgb(91, 87, 87);
}

@media (min-width: 768px) {
    .footer-container {
        width: 85%;
    }

    .footer__brows, .footer__follow {
        padding-left: 6.2rem !important;
    }
}

@media (min-width: 990px) {
    .footer__brows {
        padding-left: 35px !important;
    }

    .footer__follow {
        padding-left: 0px !important;
    }

    .footer-container {
        width: 88%;
    }

    .footer__follow .icon {
        font-size: 2rem;
    }
}